[submodule "lib/sinatra-cache"]
	path = lib/sinatra-cache
	url = git://github.com/kematzy/sinatra-cache.git
[submodule "lib/sinatra"]
	path = lib/sinatra
	url = git://github.com/bmizerany/sinatra.git
[submodule "lib/stone"]
	path = lib/stone
	url = git://github.com/bomberstudios/stone.git

[submodule "lib/sinatra-rest"]
	path = lib/sinatra-rest
	url = git://github.com/blindgaenger/sinatra-rest.git
